@import '../shared/global-styles.scss';

abbr {
    text-decoration: none !important;
}

img {
    width: 350px !important;
    display: block !important;
    border-radius: $border-radius !important;
}

.btn {
    margin: 10px 20px !important;
    padding: 9px 16px !important;
    font-size: 14px !important;
}

.react-calendar {
    border-radius: $border-radius !important;
    border: $border !important;
    margin-bottom: 40px !important;
}





