@import './other/reset-styles.scss';
@import './other/variables.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// OWN CODE BELOW

.btn {
    cursor: pointer;
    border-radius: $border-radius;
    padding: 9px 16px;
    font-size: 14px;
    border: $border;
    margin: $input-spacing 0px;

    &:focus {
        border-color: $primary-color;
    }

    &.default {
        background-color: white;
        color: $black;

        &.no-border {
            border: 1px solid transparent;
        }
    }

    &.primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
    }
}

.container {
    max-width: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp {
    border-radius: $border-radius;
    padding: 8px 10px;
    font-size: 14px;
    border: $border;
    width: 100%;
    margin: $input-spacing 0px;
    box-sizing: border-box;

    &:focus {
        border-color: $primary-color;
    }
}

.lbl {
    &.input {
        text-align: left;
        display: block;
        font-size: 12px;
        margin: 10px 0px -4px 0px;
        color: $lbl-input-color;
    }
}

.main {
    width: 100vw;
    height: 100vh;
    padding: 10px 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w100 {
    width: 100%
}