// Colors
$black: #333;
$primary-color: rgb(43, 176, 238);
$focus-color: rgb(111, 111, 228);
$lbl-input-color: rgb(146, 146, 146);

// Other
$border: 1px solid #d4d4d4;
$border-radius: 4px;
$input-spacing: 7px;